
BasedOnStyle: LLVM
UseCRLF: false

ColumnLimit: 80

UseTab: Always
IndentWidth: 4
TabWidth: 4

IndentCaseLabels: true

AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true
AlignOperands: Align
AlignArrayOfStructures: Left
BreakBeforeBinaryOperators: NonAssignment
BinPackArguments: false
PointerAlignment: Left

SpacesBeforeTrailingComments: 1


Cpp11BracedListStyle: false